[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "NMRphasing"]
	path = NMRphasing
	url = https://github.com/ajiangsfu/nmrphasing
[submodule "csmpv"]
	path = csmpv
	url = https://github.com/ajiangsfu/csmpv
